{% extends 'home.html'%}
{% block body_block%}






                <!-- details explaining Bot skills -->
                 
                    




<!--  Question the bot-->            
        <div >
            <div class="list-group-item">
                <h5><strong class="d-inline-block mb-2 text-success">YOU: {{Question}}</strong></h5>
                <h5><strong >BOT: {{insert}}</strong></h5>
              
                <form action = "{% url 'answer'%}" method = "POST"> {% csrf_token %}

<!--                  radio button    -->
                
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-outline-secondary">
                    <input type="radio" name="parul_bot" id="parul_bot" autocomplete="off" value="parul_bot" > parul_bot

                  </label>
                  <label class="btn btn-outline-secondary">
                    <input type="radio" name="basebot" id="basebot" autocomplete="off" value="basebot"> basebot
                  </label>
                  <label class="btn btn-outline-secondary">
                    <input type="radio" name="glossary_bot" id="glossary_bot" autocomplete="off" value="glossary_bot" > glossary_bot
                  </label>
                  <label class="btn btn-outline-secondary">
                    <input type="radio" name="pattern_bot" id="pattern_bot" autocomplete="off" value="pattern_bot" > pattern_bot
                  </label>
                  <label class="btn btn-outline-secondary">
                    <input type="radio" name="search_fuzzy_bot" id="search_fuzzy_bot" autocomplete="off" value="search_fuzzy_bot" > search_fuzzy_bot
                  </label>
                  <label class="btn btn-outline-secondary">
                    <input type="radio" name="eliza_bot" id="eliza_bot" autocomplete="off" value="eliza_bot" > eliza_bot
                  </label>
                  <label class="btn btn-outline-secondary">
                    <input type="radio" name="qa_bot" id="qa_bot" autocomplete="off" value="qa_bot" > qa_bot
                  </label>
                  
                </div>
                <br>
                <br>


           

<!-- -------------------------- -->

               <input placeholder="write your question" type="text" name="question_req" size="50"> 
                &#128515;</form>
            </div>
<!--  speperate line -->            
 <hr style="font-weight: 700; text-align: center; margin-bottom: 70px; margin-top: 70px; background-color: rgb(40, 167, 69); text-decoration-style: dotted;"></h4>
<!--           Chat history-->            
            <div >
               {%for i in c%}
            <p><strong class="d-inline-block mb-2 text-success">{{i.question}}?</strong>
             <strong >{{i.answer}}  <small>{{i.create_date}}</small></strong></p><br>
            {%endfor%}
            </div>
  
            </div>



{% endblock %}





