{% extends 'home.html'%}
{% block body_block%}

<div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x100]" style="height: 50%; width: 100%; display: block;" src="../static/images/h.jpg" data-holder-rendered="true">
                <div class="card-body">
                  <p class="card-text">I develop conversational AI that assists instead of manipulates. We're building machine intelligence that can be directly controlled by humans, instead of the other way around. Volunteers and I are building a conversational AI for education at UCSD.edu, Springboard.com, TangibleAI.com, and NLPIA.org. Everything I do is open source, open data, open science. 

I pride myself in authentic, open communication. I share what I learn with those around me. </p>
                  <div class="d-flex justify-content-between align-items-center">  
                  </div>
                </div>
              </div>
            </div>



 <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../static/images/ma.jpg" data-holder-rendered="true" style="height: 50%; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">A multi-disciplinary technologist and Forbes 30 under 30 social entrepreneur, passionate about solving problems and improve people's lives using digital technology and artificial intelligence. Currently redistributing the future with Tangible AI. </p>
                  <div class="d-flex justify-content-between align-items-center">
          
                  </div>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../static/images/m.jpg" data-holder-rendered="true" style="height: 50%; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">I’m a Data Analyst professional with an IT engineer, focused on Computer Engineering working to better understand how machine learning activity helps and shapes business and health sectors. </p>
                  <div class="d-flex justify-content-between align-items-center">
          
                  </div>
                </div>
              </div>
            </div>


         

 <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../static/images/tr.jpg" data-holder-rendered="true" style="height: 50%; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">With a professional background in software engineering, continual fascination in the fields of computer vision and natural language processing drove me to pursue the study of machine learning and data science beyond the late-night programming sessions and free weekends as a hobbyist. I deploy state-of-the-art predictive models for problems that prove to be too complex to solve with traditional means. </p>
                  <div class="d-flex justify-content-between align-items-center">
          
                  </div>
                </div>
              </div>
            </div>



{% endblock %}

  


 