# not possible with conda nor setup.cfg:
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-2.2.5/en_core_web_md-2.2.5.tar.gz

# setup.cfg "setup_requires ="
setuptools
pyscaffold>=3.1a0,<3.2a0

# conda environment.yml "dependencies:"
ConfigArgParse==1.2.2
elasticsearch
html5lib
hunspell
hunspell-en
jupyter==1.0.0
lxml==4.5.0
pandas==1.0.3
pip
pre_commit==2.3.0
pytest-cov
python>=3.7.6,<3.8.0
python-dotenv>=0.13.0,<0.14.0
regex==2020.4.4
seaborn==0.10.0
scipy==1.4.1
spacy==2.2.4
tqdm>=4.38.0,<5.0.0
watchdog

# setup.cfg "install_requires ="
boto3==1.13.19
botocore==1.16.19
ConfigArgParse==1.2.2
docutils==0.15.2
django==3.0.7
editdistance==0.5.3
elasticsearch==7.6.0
environment==1.0.0
gitpython==3.1.1
lxml==4.5.0
nltk==3.5
pandas==1.0.3
pre_commit==2.3.0
python-slugify==4.0.0
# psycopg2==2.8.5
rapidfuzz==0.9.1
regex==2020.4.4
seaborn==0.10.0
spacy==2.2.4
scikit-learn==0.22.2
scipy==1.4.1
tensorboardX==2.0
tensorflow==2.2.0
tensorboard==2.2.2
torch==1.4.0
tqdm>=4.38.0,<5.0.0
transformers>=2.4.1,<2.5.0
wikipedia-api==0.5.4
Sphinx==3.0.3
recommonmark==0.6.0
m2r==0.2.1
